body {
background-color: #97ad97;
}

#content {
  margin: 100px;
  padding: 100px;
  border: 1px solid black;
  background-color: #4e634e;
}

p {
  font-size: 20px;
}
h1, h2 {
  font-size: 20px;
}
img {
float: right;
  width: 40%;
  height: 40%;
}
