body {
  margin: 20px;
  background-color: #c27342;
  font-size: 20px;
}


div#content {
    padding: 20px;
    background-color: #f0d5c5;;
    border: solid 1px #333333;
    min-height: 80vh;
}

img{
  float:bottom;
}

}
